.scan-content {
    display: flex;
    justify-content: space-around;
}

.block {
    padding: 0;
}

.bullet-list, .scan-video {
    width: 50%;
}



@media (max-width:676px) {
    .scan-content {
        flex-direction: column;
    }
    .scan-content > .bullet-list, .scan-video {
        width: 100%;
    }
    
}